@use 'sass:color';
@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
  color: $text-primary;
  line-height: 1.6;
}

.app {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 5px;

  &:hover {
    background: color.adjust($secondary-color, $lightness: -10%);
  }
}
